body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	
}

h1 {
  text-align: center;
}



header {
	text-align: center; /* Center-align the content */
	background-color: black; 
	padding: 20px; /* Add padding for spacing */
	color: white; /* Text color for better readability */
	font-size:xx-large;

  }
  
  /* Style links in the header */
  nav {
	color: black;
	text-decoration: none;
	text-align: left;
	font-size: larger;
  }
  
  /* Style headings in the header */
  header h1 {
	margin: 0; /* Remove default margin for h1 element */
  }

table {
	width: 100%;
	border-collapse: collapse;
  }
  
   td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
  }
  th {
	background-color: black; /* Black background color for table header */
	color: white; /* Text color for better readability */
	padding: 10px; /* Add padding for spacing */
	text-align: left;
  }

/* Style for the form container */
form {
	max-width: 500px; /* Adjust the width as needed */
	margin: 0 auto;
	padding: 20px;
	background-color: black;
	color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
	
  }
  
  /* Style for form labels */
  form label {
	display: block;
	margin-bottom: 5px;
  }
  
  /* Style for form inputs and textareas */
  form input[type="text"],
  form input[type="number"],
  form textarea {
	width: 100%; /* Adjust the width as needed */
	padding: 8px; /* Adjust the padding to make elements less tall */
	margin-bottom: 8px; /* Adjust the margin to make elements less tall */
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  /* Style for the submit button */
  form button[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  /* Hover effect for the submit button */
  form button[type="submit"]:hover {
	background-color: #0056b3;
  }
  

  body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
  }
  
  header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
  }
  
  main {
	max-width: 800px;
	margin: 20px auto;
  }
  
  article {
	background-color: #fff;
	margin: 15px 0;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article h2 {
	color: #333;
  }
  
  article p {
	color: #555;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
  }



  